<!-- 306024 海老原毅史 -->
<web-app>
 <servlet>
 <servlet-name>TestServlet</servlet-name>
 <servlet-class>TestServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>TestServlet</servlet-name>
 <url-pattern>/test</url-pattern>
 </servlet-mapping>

 <servlet>
 <servlet-name>BankServlet</servlet-name>
 <servlet-class>BankServlet</servlet-class>
 </servlet>
 <servlet-mapping>
 <servlet-name>BankServlet</servlet-name>
 <url-pattern>/bank</url-pattern>
 </servlet-mapping>
 </web-app>