body {
  background-image: url("../img/haikei.jpg");
  background-size: contain;
  text-align: center;
}
p {
  color: transparent;
}

.box3 {
  padding: 0.5em 1em;
  margin: 2em 0;
  color: #2c2c2f;
  background: rgba(255, 255, 255, 0.7); /*???*/
  border: solid 3px rgba(255, 255, 255, 0.7);
  border-radius: 10px; /*????*/
}
